extends layout

block content

	#status-board
		.big-stats
			.card.total-subs
				.title Total Subscribers
				.big-number #{subCount}
				#sub-trend
					.trend-arrow
					.trend-label Up
				//- #{subCount}

			.card.total-trials
				.title Total Trials
				.big-number #{trialCount}

		.trello-column
			h2 Trello 
				span Doing
			.list
				//- for trelloCard in trelloCards
				//- 	.card
				//- 		.title #{trelloCard.name}
				//- 		img.avatar(src="#{trelloCard.avatar}")
			.refreshed #{refreshed}

	script(src='https://code.jquery.com/jquery-3.2.1.min.js',   integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
	
	script(src='/socket.io/socket.io.js')
	script.
		var socket = io();
		socket.on('connect', function(data) {
			socket.emit('join', 'Hello from client');
		});

		socket.on('message', function(data) {
			//- console.log(data);
			$('.refreshed').text(data.refreshed);
			$('.total-subs .big-number').text(data.subCount);
			$('.total-subs #sub-trend').removeClass();
			$('.total-subs #sub-trend').addClass(data.subCountTrend);
			$('.total-subs #sub-trend .trend-label').text('');
			$('.total-subs #sub-trend .trend-label').text(data.subCountTrend);
			$('.total-trials .big-number').text(data.trialCount);
			if ($('.list .card')) {
				$('.list').empty();
			}
			for(var i = 0; i < data.trelloCards.length; i++) {
				$('.trello-column .list').append('<div class="card"><div class="title">' + data.trelloCards[i].name + '</div><img class="avatar" src="' + data.trelloCards[i].avatar + '" /></div>');
			}
		});