extends layout

block content

	//- include nav
	header
		h1 Missions Status Board

	#status-board
		.column-01
			.card
				.title Total Subscribers
				.big-number !{subCount}

			.card
				.title Total Trials
				.big-number !{trialCount}

		.column-02
			.list
				for trelloCard in trelloCards
					.card
						.title #{trelloCard.name}
						.owner #{trelloCard.fullName}
						img.avatar(src="#{trelloCard.avatar}")
	