extends layout

block content

	//- include nav
	header
		h1 Missions Status Board
		p 
			small #{refreshed}

	#status-board
		.big-stats
			.card
				.title Total Subscribers
				.big-number #{subCount}

			.card
				.title Total Trials
				.big-number #{trialCount}

		.trello-column
			h2 Trello 
				span Doing
			.list
				for trelloCard in trelloCards
					.card
						.title #{trelloCard.name}
						//- .owner #{trelloCard.fullName}
						img.avatar(src="#{trelloCard.avatar}")
	